<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>[3KA] Пользователи</title>
    <link href="/static/datatable.css" rel="stylesheet" type="text/css">
</head>
<body>
<h2>Команда редакторов</h2>
<button onclick="window.location.href='/web/profile'"> В личный кабинет</button>

<table>
    <tr>
        <th>Имя</th>
        <th>Страница ВК</th>
        <th>Ранг</th>
        <th>Действие</th>
    </tr>
    {% for admin in admins %}
    <tr>
        <td>{{admin.name}}<br>{% if admin.login %} {{admin.login}}  {% else %}Почта не привязана{% endif %} </td>
        <td> {% if admin.vkid %} <a href="https://vk.com/id{{admin.vkid}}">Клик</a> {% else %}ВК не привязан{% endif %}</td>
        <td>{{admin.rang}}</td>
        <td>
            <form method="post" action="/web/admins/setup"><input type="hidden" name="admin" value="{{admin.id}}"><input
                    style="width: 45%" type="submit" value="Назначить"></form>
            <form method="post" action="/web/admins/reset"><input type="hidden" name="admin" value="{{admin.id}}"><input
                    style="width: 45%" type="submit" value="Разжаловать"></form>
            <form method="post" action="/web/admins/reset"><input type="hidden" name="admin" value="{{admin.id}}"><input
                    style="width: 45%" type="submit" value="Разблокировать"></form>
            <form method="post" action="/web/admins/banform"><input type="hidden" name="admin"
                                                                    value="{{admin.id}}"><input
                    style="width: 45%" type="submit" value="Заблокировать"></form>
        </td>
    </tr>
    {% endfor %}

</table>

<h2>Создать аккаунт нового сотрудника</h2>
<form method="post" action="/web/admins/add" autocomplete="off">
    <div style="width:500px">
        <table width="500px">
            <tr>
                <td width="200px"><label>Имя [Должность]:</label></td>
                <td width="300px"><input type="text" name="name" width="300px"></td>
            </tr>
            <tr>
                <td width="200px"><label>Электронная почта:</label></td>
                <td width="300px"><input type="email" name="login_input" width="300px" autocomplete="nope"></td>
            </tr>
            <tr>
                <td width="200px"><label>Временный пароль:</label></td>
                <td width="300px"><input type="password" name="password_input" width="300px" autocomplete="nope"></td>
            </tr>
            <tr>
                <td width="200px"><label>VK ID (только цифры):</label></td>
                <td width="300px"><input type="number" name="vkid" width="300px"></td>
            </tr>
            <tr>
                <td width="200px"></td>
                <td width="300px"><input style="width: 70%" type="submit" value="Подтвердить"></td>
            </tr>
        </table>
    </div>
</form>

</body>
</html>