<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>[3KA] Импорт</title>
    <link href="/static/io.css" rel="stylesheet" type="text/css">
    <script>
        async function uploadTable(source){
           const input = document.getElementById(source);
           if (input.files.length === 0) {
             alert('Пожалуйста, выберите файл');
             return;
           }

           const file = input.files[0];
           const formData = new FormData();
           formData.append('table', file); // 'file' — имя поля, ожидаемое сервером


           try {
                 const response = await fetch('/web/io/upload/'+source, {
                    method: 'POST',
                    body: formData
                    })
                 const res_data = await response.json();
                 console.log(res_data)
                 if (!response.ok) {
                     alert(res_data.message)
                 } else {
                     alert('Загружено строк в таблицу ' + source + ' ' + res_data.count)
                 }
             } catch (error) {
                 console.log(error);
             }
        }
    </script>
</head>
<body>
<h1>Импорт/ Экспорт базы данных</h1>
<a href="/web/profile">В личный кабинет</a>
<p style="color: red">Предупрждение: таблицы базы данных необходимо загружать по порядку сверху вниз. Перед обновлением
    одной из таблиц необходимо скачать все остальные, а затем повторно загрузить нижние (зависимые) таблицы</p>
<table>
    <tr>
        <th>Импорт</th>
        <th>Экспорт</th>
    </tr>

    <tr>
        <td>
            <label for="tpus">Таблица пересадочных узлов</label><br>
            <input type="file" id="tpus" name="table" accept="text/csv" value="Выбрать"><br>
            <button onclick="uploadTable('tpus')">Загрузить</button>
        </td>
        <td>
            <a href="/web/io/download/tpus">Скачать таблицу пересадочных узлов</a>
        </td>
    </tr>

    <tr>
        <td>
            <label for="stops">Таблица остановок</label><br>
            <input type="file" id="stops" name="table" accept="text/csv" value="Выбрать"><br>
            <button onclick="uploadTable('stops')">Загрузить</button>
        </td>
        <td>
            <a href="/web/io/download/stops">Скачать таблицу остановок</a>
        </td>
    </tr>


    <tr>
        <td>
            <label for="atps">Таблица АТП</label><br>
            <input type="file" id="atps" name="table" accept="text/csv" value="Выбрать"><br>
            <button onclick="uploadTable('atps')">Загрузить</button>
        </td>
        <td>
            <a href="/web/io/download/atps">Скачать таблицу АТП</a>
        </td>
    </tr>


    <tr>
        <td>
            <label for="routes">Таблица маршрутов</label><br>
            <input type="file" id="routes" name="table" accept="text/csv" value="Выбрать"><br>
            <button onclick="uploadTable('routes')">Загрузить</button>
        </td>
        <td>
            <a href="/web/io/download/routes">Скачать таблицу маршрутов</a>
        </td>
    </tr>

    <tr>
        <td>
            <label for="charts">Таблица схем движения</label><br>
            <input type="file" id="charts" name="charts" accept="text/csv" value="Выбрать"><br>
            <button onclick="uploadTable('charts')">Загрузить</button>
        </td>
        <td>
            <a href="/web/io/download/charts">Скачать таблицу схем движения</a>
        </td>
    </tr>

    <tr>
        <td>
            <label for="sections">Таблица перегонов</label><br>
            <input type="file" id="sections" name="table" accept="text/csv" value="Выбрать"><br>
            <button onclick="uploadTable('sections')">Загрузить</button>
        </td>
        <td>
            <a href="/web/io/download/sections">Скачать таблицу перегонов</a>
        </td>
    </tr>

    <tr>
        <td>
            <label for="timetables">Таблица расписаний</label><br>
            <input type="file" id="timetables" name="table" accept="text/csv" value="Выбрать"><br>
            <button onclick="uploadTable('timetables')">Загрузить</button>
        </td>
        <td>
            <a href="/web/io/download/timetables">Скачать таблицу расписаний</a>
        </td>
    </tr>
</table>


</body>
</html>