<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>[3KA] Кабинет</title>
    <link href="/static/profile.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Кабинет редактора</h1>
<h1>Добро пожаловать, {{ name }}</h1>


<section>
    <div class='label'>
        <h5>Основные действия:</h5>
        <ul>
            <li><a href="/web/io">Импорт/ Экспорт базы данных</a></li>
            <li><a href="/web/stops">Редактор остановочных пунктов</a></li>
            <li><a href="/web/atps">Список АТП</a></li>
            <li><a href="/web/routes">Реестр Маршрутов</a></li>
        </ul>

    </div>
</section>
</body>
</html>